body {
    background-color: white;
    font-family: 'Hanken Grotesk', sans-serif;
}

.container {
    box-sizing: border-box;
    text-align: center;
    display: flex;
    margin: 0 auto;
    border: 0px hidden rgb(6, 245, 65);
    display: inline-block;
    border-radius: 5px;
    width: 100%;
    background-color: rgba(112, 30, 245, 0.911);
}

.top {
    border: solid 0px rgba(112, 30, 245, 0.911);
    border-top: hidden;
    border-left: hidden;
    border-right: hidden;
    border-radius: 10px;
}

.first {
    padding: 20px;
    color: rgb(239, 246, 252);

}

.circle {
    border-radius: 50%;
    border: hidden  blue;
    width: 55px;
    height: 60px;
    padding: 25px;
    background-color: rgba(112, 30, 245, 0.911);
    color: white;
    /* font-size: 19px; */
    display: inline-block;
}

.one {
    font-weight: bolder;
    font-size: 30px;
    margin: 0 auto;
}

.two {
    font-weight: lighter;
    display: flex;
}

.great {
    font-weight: bold;
    color: white;
}

.next {
    display: block;
    color: white;
}