body {
    background-color: white;
    font-family: 'Hanken Grotesk', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 375px;
    margin: 0 auto;
}

@media  all and (min-width: 376px) {
    .container {
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        border: hidden 1px rgb(241, 8, 8);
        width: 1000px;
        margin: 0 auto;
        margin-top: 150px;
        background-color: hsl(0, 0%, 100%);
        border-radius: 20px;
    }

    .top {
        margin-left: 0px !important; 
        margin-right: 0px !important; 
        display: grid;
        box-sizing: border-box;
        width: 200px;
        height: 100px;
        border-radius: 35px;
    }
    
    .circle {
        margin: 0 auto
    }

    .bottom {

        background-color: hsl(0, 0%, 100%);
        border: inset;
        border-top-right-radius: 35px;
        border-bottom-right-radius: 35px;
        border-bottom-left-radius: 0px;
        border-left: hidden;
        /* border-top: hidden; */
        margin: 0 !important;
        padding-left: 0;
        padding-bottom: 20px;
    }
}

.top {
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    width: 375px;
    text-align: center;
    height: auto;
    margin: 0 auto;
}

.first {
    padding: 20px;
    color: rgb(239, 246, 252);
    font-style: normal;
    font-family: 'Hanken Grotesk', sans-serif;
    opacity: 0.7;
    font-weight: 600;
}

.circle {
    border-radius: 50%;
    width: 55px;
    height: 60px;
    padding: 25px;
    background-color: rgba(112, 30, 245, 0.911);
    color: white;
    display: inline-block;
    background: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0)
    );
}

.one {
    font-size: 45px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
}


.two {
    padding-top: 5px;
    display: grid;
    font-size: 13px;
    opacity: 0.5;
}

.under {
    padding: 10px;
    margin: 20px;
}

.great {
    font-weight: bold;
    font-size: 22px;
    color: white;
}

.next {
    padding-top: 9px;
    display: block;
    color: white;
    font-size: 13px;
    opacity: 0.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

.bottom {
    display: flex;
    padding-top: 12px;
    margin: 0px 10px 10px 10px;
}

h1 {
    padding-left: 20px;
    font-size: 20px;
    width: 90px;
    margin: 10px 0px 0px 0px;
}

section {
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px hidden pink;
    height: 50px;
    padding: 2px;
    margin: 25px;
    width: 19.5rem;
}


.reat {
    color: hsl(0, 100%, 67%);
    font-weight: 700;
}

.mem {
    color: hsl(39, 100%, 56%);
    font-weight: 700;
}

.ver {
    color: hsl(166, 100%, 37%);
    font-weight: 700;
}

.vis {
    color: hsl(234, 85%, 45%);
    font-weight: 700;
}

.style-1 {
    background-color: hsl(0, 79%, 96%);
}

.style-2 {
    background-color: hsl(38, 64%, 89%);
}

.style-3 {
    background-color: hsl(166, 62%, 92%);
}

.style-4 {
    background-color: hsl(233, 85%, 92%);
}


.color {
    display: flex;
    padding: 15px;
    margin: 0;
}

img {
    padding-right: 10px;
}

.number-1 {
    display: inline;
    float: right;
    flex-direction: row;
    margin-top: -35px;
    padding-right: 20px;
} 

.last {
    padding-left: 5px;
    padding-right: 5px;
}

input[type="button"] {
    background-color: hsl(224, 30%, 27%);
    color: hsl(0, 0%, 100%); 
    border-radius: 25px;
    width: 310px;
    height: 50px;
    margin-left: 27px;
    border: hidden;
}

