body {
    background-color: white;
    font-family: 'Hanken Grotesk', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    box-sizing: border-box;
    display: inline-block;
    margin: 0 auto;
}

.top {
    background-color: rgba(112, 30, 245, 0.911);
    border-bottom-left-radius: 35px;
    border-bottom-right-radius: 35px;
    width: 100%;
    text-align: center;

}

.first {
    padding: 20px;
    color: rgb(239, 246, 252);
    font-style: normal;
    font-family: 'Hanken Grotesk', sans-serif;
    opacity: 0.7;
}

.circle {
    border-radius: 50%;
    border: hidden  blue;
    width: 55px;
    height: 60px;
    padding: 25px;
    background-color: rgba(112, 30, 245, 0.911);
    color: white;
    /* font-size: 19px; */
    display: inline-block;
}

.one {
    font-size: 45px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
}


.two {
    padding-top: 5px;
    display: grid;
    font-size: 13px;
    opacity: 0.4;
}

.under {
    padding: 10px;
    margin: 20px;
}

.great {
    font-weight: bold;
    font-size: 22px;
    color: white;
}

.next {
    padding-top: 9px;
    display: block;
    color: white;
    font-size: 13px;
    opacity: 0.5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}